<mat-card class="product-card" (click)="goToProductDetails()">
    <div class="image-container">
        <img
                mat-card-image
                [src]="product().imageUrl"
                [alt]="product().name"
        />
        <app-favorite-button
                [isFavorite]="product().isFavorite ?? false"
                (toggle)="onToggleFavorite()"
        ></app-favorite-button>



    </div>

    <mat-card-header>
        <div class="title-block">
            <div class="title-row">
                <span class="product-name">{{ product().name }}</span>
                <span
                        class="product-rating"
                        (click)="openReviewDialog($event)"
                        title="Donner un avis"
                >
                ⭐{{ product().rating | number:'1.1-1' }} / 5
                </span>

            </div>

            <div class="category">
                @if (product().category === 'indoor') {
                    🌿 Intérieur
                } @else if (product().category === 'outdoor') {
                    🌳 Extérieur
                } @else {
                    🌸 Autre
                }
            </div>
        </div>
    </mat-card-header>

    <mat-card-content>
        <p>{{ product().description }}</p>
        <p class="price">{{ product().price | currency:'EUR' }}</p>

        @if (product().inStock) {
            <mat-card-subtitle>En stock</mat-card-subtitle>
        } @else {
            <mat-card-subtitle class="out-of-stock">Rupture</mat-card-subtitle>
        }
    </mat-card-content>

    <mat-card-actions class="actions">
        <p-button
                label="Ajouter au panier"
                styleClass="custom-btn"
                [disabled]="!product().inStock"
                (onClick)="addToCart($event)"
        ></p-button>

    </mat-card-actions>
</mat-card>


<p-dialog
        header="Donner un avis sur {{ product().name }}"
        [(visible)]="showDialog"
        [modal]="true"
        [closable]="true"
        [dismissableMask]="true"
        [style]="{ width: '32rem', borderRadius: '12px' }"
        [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
>
    <div class="review-dialog-content">
        <p-rating
                [(ngModel)]="rating"
                stars="5"
                cancel="false"
                style="margin-bottom: 1rem;"
        ></p-rating>

        <textarea
                [(ngModel)]="comment"
                rows="4"
                class="review-comment"
                placeholder="Votre avis..."
        ></textarea>

        <div class="actions">
            <button
                    pButton
                    type="button"
                    label="Annuler"
                    class="p-button-text"
                    (click)="showDialog=false"
            ></button>

            <button
                    pButton
                    type="button"
                    label="Envoyer"
                    icon="pi pi-send"
                    (click)="submitReview()"
                    [disabled]="rating === 0 || comment.trim().length < 10"
            ></button>
        </div>
    </div>
</p-dialog>
