<div class="product-card">
    <h3>{{ title }}</h3>
    <p>{{ price }} €</p>

    @if (stock > 0) {
        <p class="in-stock">In Stock: {{ stock }} remaining</p>
    } @else {
        <p class="out-of-stock">Out of Stock</p>
    }

    @switch (category) {
        @case ('indoor plants') {
            <span class="badge blue">Indoor Plants</span>
        }
        @case ('clothing') {
            <span class="badge green">Outdoor Plants</span>
        }
        @default {
            <span class="badge gray">Other</span>
        }
    }


    <button (click)="onBuyClick()" [disabled]="stock <= 0">Add to cart</button>
</div>
