.product-list {
  border: 2px solid #EE8B8B;
  padding: 1em;
  margin: 2em auto;
  max-width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 90%;
}

.example-card {
  max-width: 3000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-img {
  border-radius: 10px 10px 0 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title-container mat-card-title {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  font-size: 1rem !important;

}

.title-container .rating {
  font-size: 1.1rem;
  white-space: nowrap;
}

.title-container mat-card-title {
  line-height: 1;

  margin-bottom: 0.3em !important;
  margin-top: 1em !important;
}

.title-container .rating {
  font-size: 1.1rem;
}

.badge {
  color : grey;
}

.product-price {
  margin-bottom: 2em !important;
  font-size: 1.2rem !important;
}

.stock-container {
  display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2em !important;

}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  min-width: 150px;
  width: 100%;
  max-width: 250px;
  margin-top: 2rem;
}


