<div class="product-summary">
    <h4>Produits ({{ items().length }})</h4>
    <ul>
        @for (item of items(); track item.id ?? $index) {
            <li class="product-line">
                <div class="product-info">
                    <img [src]="item.imageUrl" [alt]="item.name" />
                    <div class="details">
                        <span class="name">{{ item.name }}</span>
                        <span class="qty">× {{ item.quantity }}</span>
                    </div>
                </div>
                <div class="product-price">
                    {{ getItemTotal(item.price, item.quantity) | currency:'EUR' }}
                </div>
            </li>
        }
    </ul>
</div>
