:host ::ng-deep .p-menubar {
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Conteneur de droite */
.right-section {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* Barre de recherche */
.search-container input {
  border-radius: 20px;
  padding: 0.4rem 1rem;
  width: 220px;
  height: 2.4rem;
}

/* Avatar */
:host ::ng-deep .p-avatar {
  width: 32px;
  height: 32px;
}

